*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html , body{
    height: 100%;
    width: 100%;
    cursor:none;
}
/* @font-face {
    font-family: ;
    src: url(Fonts/KFOlCnqEu92Fr1MmEU9fBBc4.ttf);
}
@font-face {
    font-family: ;
    src: url(Fonts/KFOmCnqEu92Fr1Mu4mxK.ttf);
} */
@font-face {
    font-family: "Plain Light";
    src: url(Fonts/plain-light-webfont.ttf);
    font-weight: light;
}
@font-face {
    font-family:"Plain Light" ;
    src: url(Fonts/plain-regular-webfont.ttf);
    font-style: normal;
}
@font-face {
    font-family:"Silk serif" ;
    src: url(Fonts/silkserif-lightitalic-webfont.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Silkserif";
    src: url(Fonts/silkserif-regularitalic-webfont.ttf);
    font-style: normal;
}

#crsr
{
    mix-blend-mode: difference;
    height: 2.5vw;
    width: 2.5vw;
    background-color: transparent;
    position: fixed;
    z-index: 9999;
    border-radius: 50%;
    border: 1px solid rgba(255, 254, 254, 0.463);
    transform: translate(-50%,-50%);
}
#loader
{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 20vh 10vw;
}
.line
{
    height: 8vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
#line1
{
    display: flex;
    gap:1.4vw;
    align-items: top;
    margin-right: 4vw;
    height: 15vh;
}
#line1 h5 , h6
{
    font-size: 3vw;
    font-family: "silkserif";
    font-weight: lighter;
    font-style: italic;
}
#line1 h5
{
    text-align: right;
    width: 4vw;
}
.line h1
{
    font-size: 6.7vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Plain Light";
}
.line h2{
    font-size: 6.7vw;
    font-family: "Plain Light";
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 2vw;
    opacity: 0;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

@keyframes glitch {
    0%
    {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        opacity: 0;
    }
    48%
    {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        opacity: 1;
    }
    50%
    {
        font-family: "Silk serif";
        -webkit-text-stroke: 0.3px #fff;
        color:transparent;
        opacity: 0;
    }
    100%
    {
        font-family: "Silk serif";
        -webkit-text-stroke: 0.3px #fff;
        color:transparent;
        opacity: 1;
    }
}
#main
{
    position: relative;
    background-color: #030303;
}
#page1
{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2vw 8vw;
}
#nav #nav2
{
    width:120px;
    display: flex;
    align-items: right;
    justify-content: center;
    gap:2.5vw;
}
#nav2 h4{
    font-size: 1vw;
    font-weight: 450;
    font-family: Plain,Helvetica Neue,Arial,Noto Sans,sans-serif;
}
#nav h3
{
    width:5vw;
    font-size: 1vw;
    font-weight: 450;
    font-family: Plain,Helvetica Neue,Arial,Noto Sans,sans-serif;
}
.hero
{
    height: fit-content;
    width: fit-content;
    margin-left: 28%;
    overflow: hidden;
    position:relative;
    z-index: 99999;
}
.hero h1,h2
{
    text-transform: uppercase;
    font-size: 7.5vw;
    font-family: "Plain Light";
    font-weight: 100;
    line-height: 7vw;
}
.hero:nth-child(3)
{
    margin-top:12.8vh;
}
span
{
    margin-left: 10px;
    font-size: 7.2vw;
    font-family: "Plain Light";
}
#hero1 {
    display: flex;
    align-items: center;
    line-height: 0;
}
#hero1 h2
{
    border-bottom: 10px solid #fff;
}
#hero1 h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    border-bottom: 10px solid #ffffff00;
}
.test
{ 
    position: absolute;
    top:28.5%;
    left:19%
}
.test h2
{
    font-family: "Silk Serif";
    font-size:3.4vw;
}

